
<ul class="example-list">
  <li>
    <div class="root-name">表格系统</div>
    <ul>
      <li>
        <a {% if include.active == 'cdlist_list'%}class="active"{% endif %} href="/cdlist/examples/">显示列表</a>
      </li>

      <li>
        <a {% if include.active == 'cdlist_table'%}class="active"{% endif %} href="/cdlist/examples/show_table">显示表格</a>
      </li>
    </ul>
  </li>

  <li>
    <div class="root-name">筛选插件</div>
    <ul>
      <li>
        <a {% if include.active == 'filter_select'%}class="active"{% endif %} href="/cdlist/examples/filter/select">以 Select 形式使用</a>
      </li>

      <li>
        <a {% if include.active == 'filter_line'%}class="active"{% endif %} href="/cdlist/examples/filter/line">以 li 形式使用</a>
      </li>
    </ul>
  </li>

  <li>
    <div class="root-name">排序插件</div>
    <ul>
      <li>
        <a {% if include.active == 'sort_default'%}class="active"{% endif %} href="/cdlist/examples/sort/">使用</a>
      </li>

      <li>
        <a {% if include.active == 'sort_custom'%}class="active"{% endif %} href="/cdlist/examples/sort/custom">自定义排序样式</a>
      </li>
    </ul>
  </li>

  <li>
    <div class="root-name">搜索插件</div>
    <ul>
      <li>
        <a {% if include.active == 'search_default'%}class="active"{% endif %} href="/cdlist/examples/search/">使用</a>
      </li>

      <li>
        <a {% if include.active == 'search_regex'%}class="active"{% endif %} href="/cdlist/examples/search/regex">错误正则</a>
      </li>
    </ul>
  </li>

  <li>
    <div class="root-name">分页插件</div>
    <ul>
      <li>
        <a {% if include.active == 'pagination_default'%}class="active"{% endif %} href="/cdlist/examples/pagination/">使用</a>
      </li>
    </ul>
  </li>

  <li>
    <div class="root-name">日历插件</div>
    <ul>
      <li>
        <a {% if include.active == 'datepicker_default'%}class="active"{% endif %} href="/cdlist/examples/datepicker/">使用</a>
      </li>

      <li>
        <a {% if include.active == 'datepicker_multi'%}class="active"{% endif %} href="/cdlist/examples/datepicker/multi">多个日期</a>
      </li>
    </ul>
  </li>
</ul>
